@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
.home {
    font-size: 40px;
    font-family: 'Nexa-Book', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: black;
}
.block {
    padding-top: 400px;
    font-weight: 200;
    letter-spacing: 2px;
}
.elizabeth {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: whitesmoke;
    text-align: center;
    text-transform: lowercase;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

